earthengine-api==0.1.326
google-cloud-storage
pandas
numpy
scikit-learn
python-dotenv
tqdm
requests
torch
SpeechRecognition
pyaudio
sounddevice
Flask
pydub
transformers
peft
statsmodels
soundfile
torchaudio
deep-translator
openpyxl